/*Default styles for website*/
:root {
  --dark: #c9ddef;
  --light: #fff;
  --navlink-color: #b9c6ae;
  --background-color-headlines: rgb(237, 237, 245);
}

/*Default styles for body of website*/
body {
  display: flex;
  flex-direction: column;
  line-height: 1.3;
  margin:5px;
  background-color: var(--background-color-headlines);
  overflow:auto;

}

/*Header styles*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
   background-color: var(--dark);
  color: var(--light);
  padding:10px;
}

h1 {
  font-size: 200%;
}

h2 {
  margin: 2% 0;
  font-size: 250%;
}
/*Navigation bar styles*/
nav ul {
  display: flex;
  justify-content: space-between;
  min-width: 300px;
}

nav a {
  background-color: unset;
  color: var(--navlink-color);
  font-weight: bold;
  text-decoration: none;
}

nav a:hover {
  color: var(--light);
}
/*Container for the body  */
.container-all {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  width:100%;

}
/*Container for the hurricane from space image  */
.container-image {
  position: relative; 
  width: 100%; 
  flex: 0 0 100%;

}

.image-hurricane {
  width: 100%; 
  max-width: 100%;
}
/*Caption for the hurricane from space image  */
.caption-hurricane-image {
  position: absolute;
  bottom: 10%;
  left: 2%;
  background-color:var(--dark); 
  color: #fff; 
  max-width: 50%; 
  padding: 10px; 
  text-align: center;
}
/*Styles for the About Me section  */
.container-aboutme{
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  flex: 0 0 100%;
  padding-top:20px;
}

/*Styles for the section titles  */
.title{
  display:flex;
  flex: 0 0 25%;
  color:var(--color-text-headlines);
  font-size:25px;
  justify-content: flex-end;
  border: 4px solid black; 
  border-top:none;
  border-left:none;
  border-bottom:none;  
  text-align: right;
  padding-right:1%;
}
.container-aboutme-text{
  display:flex;
  flex: 0 0 70%;
  font-size: 20px;
  padding:1%;
}
/*Styles for Work section  */
.container-aboutme-work{
  display:flex;
  flex-wrap:wrap;
  flex-direction: row;
  justify-content: flex-start;
  flex: 0 0 70%;
  padding:1%;

}


.container-aboutme-work-image{
  display:flex;
  position:relative;
  justify-content: space-around;
  width: 290px;
  height: 150px; 
  border: 4px solid black;
  margin:5px;
}

.container-aboutme-work-image-full-length{
  display:flex;
  position:relative;
  justify-content: space-around;
  width: 600px; 
  height: 150px; 
  border: 4px solid black;
  margin:5px;
}

.container-aboutme-work-image img {
  width: 100%; 
  max-width: 100%;
  opacity: 0.5; 
}

.container-aboutme-work-image img:hover{
  opacity: 1.0; 
}



.caption-aboutme-work-image {
  position: absolute;
  bottom: 2%;
  left: 2%;
  background-color:var(--dark); 
  color: #fff; 
  max-width: 50%; 
  padding: 10px; 
  text-align: center;
}
/*Styles for Contact Me section  */
.container-contactme{
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex: 0 0 100%;
  padding-top:20px;
}

.container-contactme-text{
  display:flex;
  flex: 0 0 70%;
  justify-content: space-around;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
}

.contact-me-text{
  display:flex;
  border: 4px solid black;
  border-top:none;
  border-left:none;
  border-right:none; 
}

/*Responsiveness criteria*/
@media screen and (max-width: 768px) {
  header,.container-contactme-text {
    flex-direction: column;
  }

  main {
    max-width: 1200px;
  }
}
